<template>
  <div>
    <form-search :field-options="fieldOptions"
      @submit="handleSearch" />
    <!-- <a-button type="primary">添加学员</a-button>
    <a-button class="mr10 ml10">批量操作</a-button>
    <a-dropdown class="mt20">
      <a-button>
        更多操作
        <a-icon type="down" />
      </a-button>
      <a-menu slot="overlay">
        <a-menu-item>
          <a href="javascript:;"
            @click="handleDelete">删除</a>
        </a-menu-item>
      </a-menu>
    </a-dropdown> -->
    <a-table class="mt20"
      :row-key="record => record.id"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <template slot="learn_practise" slot-scope="text">
        {{ `${text.split('/')[0] === '0' ? '否' : '是'} / ${text.split('/')[1] === '0' ? '否' : '是'}` }}
      </template>
      <template slot="count_learn_practise" slot-scope="text">
        {{ `已学${text.split('/')[0]} 已练${text.split('/')[1]}` }}
      </template>
      <template slot="review_type" slot-scope="text">
        {{ text ? '是' : '否' }}
      </template>
      <template slot="wechat_switch" slot-scope="text">
        {{ text ? '是' : '否' }}
      </template>
      <template slot="transform_type" slot-scope="text">
        <status-text
          :mapList="mapList"
          :status="text">
          {{ text ? (text === 1 ? '已转化' : '2次转化') : '未转化' }}
        </status-text>
      </template>
      <template
        slot="action"
        slot-scope="text, record">
        <a class="mr10" @click="handlePreview">查看</a>
        <a-dropdown>
          <a-button>
            更多操作
            <a-icon type="down" />
          </a-button>
          <a-menu slot="overlay">
            <a-menu-item>
              <a href="javascript:;"
                @click="addTeacher(record)">标记添加老师</a>
            </a-menu-item>
            <a-menu-item>
              <a href="javascript:;"
                @click="teacherReviews(record)">小老师点评</a>
            </a-menu-item>
            <a-menu-item>
              <a href="javascript:;"
                @click="workReviews(record)">作业点评</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </template>
    </a-table>
  </div>
</template>

<script>
import { tableColumns, fieldOptions } from '@/lib/TrialStudentManagement'
import { getStudentList } from '@/service/advisorStuManagement'
import statusText from '@/components/statusText'

export default {
  components: { statusText },
  data() {
    return {
      tableLoading: false,
      tableColumns,
      fieldOptions,
      tableData: [],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      selectedRowKeys: [],
      mapList: {
        'success-status': [1],
        'error-status': [0],
        'normal-status': [2]
      }
    }
  },
  created() {
    this.getStudentList()
  },
  methods: {
    handleSearch() {},

    handleTableChange() {},

    onSelectChange() {},

    handlePreview() {
      this.$router.push('/trialClassManagement/studentDetail')
    },

    addTeacher() {
      this.$confirm({
        title: '操作提醒',
        content: '确定该用户已添加对应开班服务老师吗？',
        onOk: () => {
          this.$message.success('标记成功')
        },
        onCancel: () => {

        }
      })
    },

    teacherReviews() {},

    workReviews() {},

    async getStudentList() {
      this.tableLoading = true
      const params = {
        type: 0, // 0:体验课 1:vip 2:暂定 3:课程顾问
        page: this.pagination.current,
        page_size: this.pagination.pageSize,
        info: this.$jsonTransform(this.formSearch)
      }
      if (params.info.create_time) {
        params.info.create_time = parseInt(this.$moment(params.info.create_time).format('X'))
      }
      try {
        const { data } = await getStudentList(params)
        const { count, info_list } = data
        this.$formatList(info_list)
        this.tableData = info_list
        this.pagination.total = count
        this.tableLoading = false
      } catch (error) {
        this.tableLoading = false
        throw error
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
