<template>
  <div class="student">
    <student-info />
    <a-tabs
      class="mt20"
      :activeKey="activeTab"
      @change="handleChangeTab">
      <a-tab-pane
        v-for="tab in tabList"
        :key="tab.key"
        :tab="tab.tabName" />
    </a-tabs>
    <template v-if="activeTab === 0">
      <a-row class="mb20">
        <a-col
          :span="6"
          v-for="(item, index) in studyRecordOptions"
          :key="index">
          <label-value
            :label="item.label"
            :text="item.text"/>
        </a-col>
      </a-row>
      <study-record-list />
    </template>
    <purchase-history v-else />
  </div>
</template>

<script>
import studentInfo from './components/studentInfo'
import studyRecordList from './components/studyRecordList'
import purchaseHistory from './components/purchaseHistory'
import labelValue from '@/components/labelValue.vue'

const tabList = [
  {
    key: 0,
    tabName: '学习记录'
  },
  {
    key: 1,
    tabName: '购买记录'
  }
]

export default {
  components: { studentInfo, studyRecordList, labelValue, purchaseHistory },
  data() {
    return {
      activeTab: 0,
      tabList
    }
  },
  computed: {
    studyRecordOptions() {
      return [
        {
          label: '官方累计学课',
          text: '45课'
        }
      ]
    }
  },
  methods: {
    handleChangeTab(val) {
      this.activeTab = val
    }
  }
}
</script>

<style lang="scss" scoped>
.student {

}
</style>
