<template>
  <div>
    <form-search :field-options="fieldOptions"
      @submit="handleSearch" />
    <a-button type="primary"
      @click="batchReview"
      class="mt20 mb20">批量点评</a-button>
    <a-table :row-key="record => record.id"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
      @change="handleTableChange">
      <template slot="teacher_review"
        slot-scope="text, record">
        <a-icon v-if="record.teacher_voice"
          type="audio"
          theme="twoTone"
          class="icon-audio"
          @click="handlePlayAudio(record.teacher_voice)">
        </a-icon>
      </template>
      <template slot="teacher_voice"
        slot-scope="text, record">
        <status-text :mapList="mapList"
          :status="record.hasVoice">
          {{ text ? '是' : '否' }}
        </status-text>
      </template>
      <template slot="action"
        slot-scope="text, record">
        <a @click="workReview(record)">作业点评</a>
      </template>
    </a-table>
    <workReviewModal :visible="workPreviewVisble"
      :workId="workId"
      @closeWorkPreviewVisble="workPreviewVisble = false"
      :imageList="exerciseImgList" />
  </div>
</template>

<script>
import { tableColumns, fieldOptions } from '@/lib/ExerciseList'
import { getExerciseList } from '@/service/exerciseList'
import statusText from '@/components/statusText'
import workReviewModal from '../TrialStudentManagement/components/workReviewModal'

export default {
  components: { statusText, workReviewModal },
  data() {
    return {
      tableLoading: false,
      tableColumns,
      fieldOptions,
      tableData: [],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      mapList: {
        'success-status': [1],
        'error-status': [0]
      },
      workPreviewVisble: false,
      selectedRowKeys: [],
      selectedRows: [],
      exerciseImgList: [],
      workId: '' // 当前操作的练习id
    }
  },
  created() {
    this.getExerciseList()
  },
  methods: {
    handleSearch(val) {
      this.formSearch = val
      this.pagination.current = 1
      this.getExerciseList()
    },

    onSelectChange(selectedRowKeys, selectedRows) {
      this.selectedRowKeys = selectedRowKeys
      this.selectedRows = selectedRows
    },

    handlePlayAudio(url) {
      const audio = new Audio(`http://download.moshujiamm.com${url}`)
      // http://download.moshujiamm.com/uploads/20200820/FkI-EPRgfdQ4Ztzyk8tqUTsuOqca.mp3
      audio.play()
    },

    handleTableChange(pagination) {
      this.pagination = { ...pagination }
      this.getExerciseList()
    },

    workReview(row) {
      this.workPreviewVisble = true
      this.workId = String(row.id)
      this.exerciseImgList = row.exercise_images.split(',')
    },

    batchReview() {
      if (!this.selectedRows.length) {
        this.$message.warning('请选择要点评的练习！')
        return
      }
      const ids = []
      const imgs = []
      this.exerciseImgList = []
      this.selectedRows.forEach(item => {
        ids.push(item.id)
        imgs.push(item.exercise_images)
      })
      this.workId = ids.join(',')
      imgs.forEach(item => {
        this.exerciseImgList = this.exerciseImgList.concat(item.split(','))
      })
      this.workPreviewVisble = true
    },

    async getExerciseList() {
      this.tableLoading = true
      const params = {
        ...this.formSearch,
        page: this.pagination.current,
        page_size: this.pagination.pageSize
      }
      const { data } = await getExerciseList(params)
      const { count, info_list } = data
      this.$formatList(info_list)
      this.tableData = info_list
      this.tableData.forEach(item => {
        item.teacher_voice ? item.hasVoice = 1 : item.hasVoice = 0
      })
      this.pagination.total = count
      this.tableLoading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-audio {
  font-size: 20px;
  cursor: pointer;
}
</style>
