<template>
  <div class="class-detail">
    <h2>学课概况</h2>
    <a-row :gutter="20">
      <a-col :span="6" >
        <span class="class-name">{{ classInfo.course_name }}</span>
      </a-col>
      <a-col
        :span="6"
        v-for="(item, index) in detailOptions"
        :key="index">
        <span class="label">{{ item.label }}</span>
        <span class="item">{{ item.item }}</span>
        <span v-if="index === 3" class="practice">{{ item.item.substr(0, 1) }}</span>
        <a v-if="index === 4" @click="studyDetailVisble = true" class="button">查看详情</a>
        <a-button v-if="index === 5" type="primary" class="button">一键发送点评</a-button>
      </a-col>
    </a-row>
    <a-col :span="24">
      <span class="label">下一课预告</span>
      <span class="item">{{ `${classInfo.new_course_info.substr(2, classInfo.new_course_info.length-1)} ${this.$moment(classInfo.notice_course_time * 1000).format('YYYY-MM-DD')}` }}</span>
    </a-col>
    <study-detail-modal
      :studyDetailVisble="studyDetailVisble"
      @closeModal="closeModal" />
  </div>
</template>

<script>
import studyDetailModal from './components/studyDetailModal'
import { getClassDetail } from '@/service/classManagement'

export default {
  components: { studyDetailModal },
  data() {
    return {
      studyDetailVisble: false,
      classInfo: {}
    }
  },
  computed: {
    detailOptions() {
      const { course_class, start_time, end_time, cumulative_learn_course, trailer_course_info, complete_people, all_people, review_number } = this.classInfo
      return [
        {
          label: '期数班级',
          item: course_class
        },
        {
          label: '开课周期',
          item: `${this.$moment(start_time * 1000).format('YYYY-MM-DD')} ~ ${this.$moment(end_time * 1000).format('YYYY-MM-DD')}`
        },
        {
          label: '官方累计学课',
          item: cumulative_learn_course
        },
        {
          label: '当前课程',
          item: trailer_course_info
        },
        {
          label: '已完成',
          item: `${complete_people}/${all_people}`
        },
        {
          label: '已点评',
          item: `${review_number}/${all_people}`
        }
      ]
    }
  },
  created() {
    this.getClassDetail()
  },
  methods: {
    closeModal() {
      this.studyDetailVisble = false
    },

    async getClassDetail() {
      const params = this.$route.query
      const { data } = await getClassDetail(params)
      this.classInfo = data
    }
  }
}
</script>

<style lang="scss" scoped>
.class-detail {
  .class-name {
    display: inline-block;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #ff8d1a;
  }
  .label {
    color: #999;
    height: 40px;
    line-height: 40px;
    &::after {
      content: '：';
    }
  }
  .item {
    height: 40px;
    line-height: 20px;
  }
  .practice {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background: $orange;
    font-size: 12px;
    margin-left: 10px;
  }
  .button {
    margin-left: 15px;
  }
}
</style>
