<template>
  <div>
    <form-search :field-options="fieldOptions"
      @submit="handleSearch" />
    <!-- <a-dropdown class="mt20">
      <a-button>
        更多操作
        <a-icon type="down" />
      </a-button>
      <a-menu slot="overlay">
        <a-menu-item>
          <a href="javascript:;"
            @click="handleDelete">删除</a>
        </a-menu-item>
      </a-menu>
    </a-dropdown> -->
    <a-table class="mt20"
      :row-key="record => record.systemcourse_id"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <template slot="learn_info"
        slot-scope="text">
        <span class="current-class">学</span>
        <!-- <span class="current-practice">练</span> -->
        {{ text }}
      </template>
      <template slot="classes_type"
        slot-scope="text">
        <status-text :status="text"
          :mapList="classStateMap">
          {{ classStateList[parseInt(text)] }}
        </status-text>
      </template>
      <template slot="action"
        slot-scope="text, record">
        <a @click="handlePreview(record)"
          class="mr10">查看</a>
        <a-dropdown>
          <a class="ant-dropdown-link">
            更多
            <a-icon type="down" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item>
              <a href="javascript:;"
                @click="handleSort">未跟上进度学员</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </template>
    </a-table>
  </div>
</template>

<script>
import statusText from '@/components/statusText'
import { tableColumns, fieldOptions } from '@/lib/ClassManagement'
import { getClassList } from '@/service/classManagement'

export default {
  components: { statusText },
  data() {
    return {
      tableLoading: false,
      tableColumns,
      tableData: [],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      selectedRowKeys: [],
      fieldOptions,
      classStateMap: {
        'init-status': ['0'], // 未开课
        'success-status': ['1'], // 开课中
        'error-status': ['2'] // 已结课
      },
      formSearch: {},
      classStateList: ['未开课', '开课中', '已结课']
    }
  },
  created() {
    this.getClassList()
  },
  methods: {
    handleSearch(val) {
      this.formSearch = val
      this.pagination.current = 1
      this.getClassList()
    },

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },

    handleTableChange(pagination) {
      this.pagination = { ...pagination }
      this.getClassList()
    },

    handlePreview(row) {
      const { systemcourse_id, wechatcfg_id, course_class } = row
      const path = '/trialClassManagement/classDetail'
      const query = {
        systemcourse_id,
        wechat_id: wechatcfg_id,
        course_class
      }
      this.$router.push({ path, query })
    },

    handleSort() { },

    handleDelete() { },

    async getClassList() {
      this.tableLoading = true
      const params = {
        page: this.pagination.current,
        page_size: this.pagination.pageSize,
        info: this.$jsonTransform(this.formSearch)
      }
      const { data } = await getClassList(params)
      const { count_all, info_list } = data
      this.$formatList(info_list)
      this.tableData = info_list
      this.pagination.total = count_all
      this.tableLoading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.current-class {
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  background: $normal;
  font-size: 12px;
}
.current-practice {
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  background: $orange;
  font-size: 12px;
}
</style>
