@mixin margin-init($min: 1, $max: 50){
  @for $i from $min through $max {
    .mt#{$i} {
      margin-top: $i+px;
    }
    .mr#{$i} {
      margin-right: $i+px;
    }
    .mb#{$i} {
      margin-bottom: $i+px;
    }
    .ml#{$i} {
      margin-left: $i+px;
    }
    .m#{$i} {
      margin: $i+px;
    }
  }
}