<template>
  <div>
     <a-table class="mt20"
      :row-key="record => record.id"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <div slot="expandedRowRender" class="preview-img">
        <div>
          <p>本课练习图片</p>
          <p>点击图片查看</p>
        </div>
        <!-- <img
          v-for="item in imgs"
          class="practice-img ml20"
          @click="handlePreviewImg"
          :key="item.url"
          :src="item.url" > -->
      </div>
    </a-table>
  </div>
</template>

<script>
import tableColumns from '@/lib/purchaseHistory'

export default {
  data() {
    return {
      tableLoading: false,
      tableColumns,
      tableData: [
        {
          id: 1
        }
      ],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      }
    }
  },
  methods: {
    handleTableChange() {}
  }
}
</script>

<style lang="scss" scoped>

</style>
