<template>
  <div>
    <form-search :field-options="fieldOptions"
      @submit="handleSearch" />
    <a-table class="mt20"
      :row-key="record => record.id"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <div slot="expandedRowRender" class="preview-img">
        <div>
          <p>本课练习图片</p>
          <p>点击图片查看</p>
        </div>
        <img
          v-for="item in imgs"
          class="practice-img ml20"
          @click="handlePreviewImg"
          :key="item.url"
          :src="item.url" >
      </div>
      <template slot="littleTeacher">
        <a-icon type="audio" theme="twoTone" />
        <audio src="audiofile.mp3"></audio>
      </template>
      <template slot="action"
        slot-scope="text, record">
        <a @click="handlePreview(record)"
          class="mr10">查看</a>
        <a-dropdown :trigger="['click']">
          <a class="ant-dropdown-link">
            更多
            <a-icon type="down" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item>
              <a @click="teacherReview">小老师点评</a>
            </a-menu-item>
             <a-menu-item>
              <a @click="setTeacher">设置优秀老师</a>
            </a-menu-item>
             <a-menu-item>
              <a @click="workReview">作业点评</a>
            </a-menu-item>
             <a-menu-item>
              <a @click="setWork">设置优秀作业</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </template>
    </a-table>
    <preview-img
     :visible="previewImgVisble"
     :imageList="[]"
     @closePerviewImg="closePerviewImg" />
     <work-review-modal
      :visible="workPreviewVisble"
      @closeWorkPreviewVisble="workPreviewVisble = false"/>
  </div>
</template>

<script>
import tableColumns from '@/lib/studyRecordList'
import previewImg from '@/components/previewImg'
import workReviewModal from './workReviewModal'

export default {
  components: { previewImg, workReviewModal },
  data() {
    return {
      tableLoading: false,
      tableColumns,
      tableData: [
        {
          id: 1
        }
      ],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      fieldOptions: [
        {
          type: 'date-picker',
          label: '学习时间',
          decorator: ['classPeriods', { initialValue: '' }]
        },
        {
          type: 'select',
          label: '学习课程',
          decorator: ['classStatus', { initialValue: '' }],
          options: []
        }
      ],
      imgs: [],
      previewImgVisble: false,
      workPreviewVisble: false
    }
  },
  methods: {
    handleSearch() {},

    handleTableChange() {},

    handlePreview() {},

    teacherReview() {},

    setTeacher() {},

    workReview() {
      this.workPreviewVisble = true
    },

    setWork() {},

    handlePreviewImg() {
      this.previewImgVisble = true
    },

    closePerviewImg() {
      this.previewImgVisble = false
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-img {
  display: flex;
}
.practice-img {
  width: 80px;
  height: 80px;
}
</style>
