<template>
  <div class="student-detail">
    <img src=""
      alt=""
      class="avatar">
    <a-row :gutter="10"
      class="student-box">
      <a-col :span="24"
        class="student-info">
        <h2>xxx</h2>
        <div class="mr10 ml10 gender">男</div>
        <div>体验学员</div>
      </a-col>
      <a-col :span="6"
        v-for="(item, index) in detailOptions"
        :key="index">
        <span class="label">{{ item.label }}</span>
        <span class="item"
          v-if="!isEdit">{{ item.text }}</span>
        <a-select v-if="isEdit && index === 2">
          <a-select-option v-for="level in levelList"
            :key="level.id"
            :value="level.id">{{ level.text }}</a-select-option>
        </a-select>
        <a-input v-if="index === 11 && isEdit" class="input"></a-input>
      </a-col>
    </a-row>
    <a-button type="primary"
      v-show="!isEdit"
      @click="updateStudentInfo">修改学员信息</a-button>
    <div v-show="isEdit" class="edit-student">
      <a-button @click="updateSave(0)" class="mr10">取消修改</a-button>
      <a-button type="primary"
        @click="updateSave(1)">保存修改</a-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isEdit: false,
      levelList: [
        {
          id: 0,
          text: '中班'
        }
      ]
    }
  },
  computed: {
    detailOptions() {
      return [
        {
          label: '学习ID',
          text: ''
        },
        {
          label: '微信昵称',
          text: ''
        },
        {
          label: '真实学习阶段',
          text: ''
        },
        {
          label: '可用能量',
          text: ''
        },
        {
          label: '可用魔术币',
          text: ''
        },
        {
          label: '注册时间',
          text: ''
        },
        {
          label: '手机号码',
          text: ''
        },
        {
          label: '出生年月',
          text: ''
        },
        {
          label: '累计能量',
          text: ''
        },
        {
          label: '累计魔术币',
          text: ''
        },
        {
          label: '所在学校',
          text: ''
        },
        {
          label: '学习基础',
          text: ''
        }
      ]
    }
  },
  created() {

  },
  methods: {
    updateStudentInfo() {
      this.isEdit = true
    },

    updateSave(isSave) {
      this.isEdit = false
      if (!isSave) return false
    }
  }
}
</script>

<style lang="scss" scoped>
.student-detail {
  display: flex;
  justify-content: space-between;
  position: relative;
  .avatar {
    width: 120px;
    height: 80px;
    margin-right: 20px;
  }
  .student-box {
    flex-grow: 1;
    .student-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      h2 {
        margin-bottom: 0;
      }
      div {
        padding: 5px 8px;
        background: #ff4d4f;
        border-radius: 5px;
        color: #fff;
      }
      .gender {
        background-color: #1890ff;
      }
    }
    .label {
      color: #999;
      height: 40px;
      line-height: 40px;
      &::after {
        content: "：";
      }
    }
    .item {
      word-break: normal;
    }
    .ant-select {
      width: 100px;
    }
    .input {
      width: 180px;
    }
  }
  .edit-student {
    position: absolute;
    bottom: -50px;
    right: 0;
  }
}
</style>
