<template>
  <a-modal :visible="visible"
    :title="title"
    destroyOnClose
    @ok="handleOk"
    @cancel="handleCancle">
    <div>
      <span class="label">练习图片：</span>
      <img @click="handlePreviewImg"
        v-for="item in exerciseImgList"
        class="img mr20"
        :key="item"
        :src="item">
    </div>
    <div class="mt20 teacher-voice">
      <span class="label">上传点评语音：</span>
      <!-- <a-upload
        :accept="acceptFileType"
        :showUploadList="false"
        :customRequest="handleUpload">
        <a-button type="primary">上传文件</a-button>
        <span class="ml10">点击上传，支持语音格式mp3</span>
      </a-upload> -->
      <a-input v-model="teacherVoice"
        placeholder="请在老后台上传语音文件后，将链接粘贴在此处" />
    </div>
    <div class="mt20">
      <span class="label">设为优秀作业：</span>
      <a-switch v-model="excelent" />
    </div>
    <previewImg v-if="previewImgVisible"
      :visible="previewImgVisible"
      @closePerviewImg="previewImgVisible = false"
      :imageList="exerciseImgList" />
  </a-modal>
</template>

<script>
import previewImg from '@/components/previewImg'
import { updateVoice } from '@/service/exerciseList'

export default {
  components: { previewImg },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '点评练习'
    },
    imageList: {
      type: Array,
      default: () => []
    },
    workId: String
  },
  data() {
    return {
      excelent: false,
      previewImgVisible: false,
      acceptFileType: '.mp3',
      formData: {},
      teacherVoice: ''
    }
  },
  created() {
  },
  computed: {
    exerciseImgList() {
      const newList = []
      for (const i of this.imageList) {
        i.startsWith('/')
          ? newList.push(`http://download.moshujiamm.com${i}`)
          : newList.push(`http://download.moshujiamm.com/BookPicture/${i}`)
      }
      return newList
    }
  },
  methods: {
    handleCancle() {
      Object.assign(this.$data, this.$options.data())
      this.$emit('closeWorkPreviewVisble')
    },

    handleOk() {
      const params = {
        excellentswitch: Number(this.excelent),
        teacher_review: this.teacherVoice,
        ids: this.workId
      }
      this.updateVoice(params)
    },

    handleUpload(val) {
      const { file } = val
      this.formData = new FormData()
      this.formData.append('ids', this.workId)
      this.formData.append('teacher_review', file)
    },

    async updateVoice(params) {
      await updateVoice(params)
      Object.assign(this.$data, this.$options.data())
      this.$emit('closeWorkPreviewVisble')
      this.$message.success('点评成功！')
    },

    handlePreviewImg() {
      this.previewImgVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
.img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  cursor: pointer;
  padding-bottom: 10px;
}
.label {
  color: #999;
}
.teacher-voice {
  display: flex;
  input {
    width: 350px;
  }
}
</style>
