<template>
  <div class="add-class">
    <a-form :form="form"
      :label-col="{ span: 7 }"
      :wrapper-col="{ span: 16 }">
      <h3>课程基本信息</h3>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item label="关联课程">
            <a-select v-decorator="classForm.a.decorator"
              :placeholder="classForm.a.placeholder">
              <a-select-option v-for="item in classForm.a.options"
                :key="item.id"
                :value="item.id">
                {{ item.text }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="课程期数">
            <a-input v-decorator="classForm.b.decorator"
              :placeholder="classForm.b.placeholder" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="开售周期">
            <a-range-picker v-decorator="classForm.c.decorator"
              style="width: 100%;"
              :show-time="{
                defaultValue: [moment('00:00:00', 'HH:mm:ss'), moment('11:59:59', 'HH:mm:ss')],
              }"
              @change="classForm.c.change"
              format="YYYY-MM-DD HH:mm:ss" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="对应渠道">
            <a-select v-decorator="classForm.d.decorator"
              :placeholder="classForm.d.placeholder">
              <a-select-option v-for="item in classForm.d.options"
                :key="item.id"
                :value="item.id">
                {{ item.text }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="加入基数">
            <a-input v-decorator="classForm.e.decorator"
              :placeholder="classForm.e.placeholder" />
          </a-form-item>
        </a-col>
      </a-row>
      <h3 class="mt20">课程开班设置</h3>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item label="分班人数">
            <a-input v-decorator="classForm.f.decorator"
              :placeholder="classForm.f.placeholder" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item label="开班时间">
            <a-date-picker v-decorator="classForm.g.decorator"
              show-time
              format="YYYY-MM-DD HH:mm:ss"
              @change="classForm.g.change" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="结课时间">
            <a-date-picker v-decorator="classForm.h.decorator"
              show-time
              format="YYYY-MM-DD HH:mm:ss"
              @change="classForm.h.change" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="课程有效期">
            <a-input-number v-decorator="classForm.i.decorator"
              :min="1" />
          </a-form-item>
        </a-col>
      </a-row>
      <h3 class="mt20">课程服务老师</h3>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item label="满人数替换">
            <a-input v-decorator="classForm.j.decorator"
              :placeholder="classForm.j.placeholder" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item label="服务老师">
            <a-input v-decorator="classForm.k.decorator"
              :placeholder="classForm.k.placeholder" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="老师微信">
            <a-input v-decorator="classForm.l.decorator"
              :placeholder="classForm.l.placeholder" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="20">
        <a-col :span="8"
          class="qr-code">
          <a-form-item label="上传二维码">
            <a-upload name="avatar"
              list-type="picture-card"
              class="avatar-uploader"
              :show-upload-list="false"
              action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              :before-upload="beforeUpload">
              <img v-if="imageUrl"
                :src="imageUrl"
                alt="avatar" />
              <div v-else>
                <a-icon :type="loading ? 'loading' : 'plus'" />
                <div class="ant-upload-text">
                  Upload
                </div>
              </div>
            </a-upload>
            <p class="has-error1"
              v-if="showError">请上传二维码</p>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
    <div class="add-teacher">
      <a-icon type="plus" />
      添加服务老师
    </div>
    <div class="save-form">
      <a-button type="primary"
        @click="handleSave" :loading="saveLoading">保存修改</a-button>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      moment,
      form: this.$form.createForm(this),
      classForm: {
        a: {
          decorator: ['a', { rules: [{ required: true, message: '请选择课程' }] }],
          options: [
            {
              id: 1,
              text: 'asdsa'
            }
          ],
          placeholder: '请选择课程'
        },
        b: {
          decorator: ['b', { rules: [{ required: true, message: '请输入课程期数' }] }],
          placeholder: '请输入'
        },
        c: {
          decorator: ['c', { rules: [{ required: true, message: '请选择开售周期' }] }],
          change: (val) => {
            console.log(val)
          }
        },
        d: {
          decorator: ['d', { rules: [{ required: true, message: '请选择渠道类型' }] }],
          options: [
            {
              id: 1,
              text: 'asdsa'
            }
          ],
          placeholder: '请选择渠道类型'
        },
        e: {
          decorator: ['d', { rules: [{ required: true, message: '请输入加入基数' }] }],
          placeholder: '请输入已加入人数'
        },
        f: {
          decorator: ['f', { rules: [{ required: true, message: '请输入分班人数' }] }],
          placeholder: '请输入分班人数限制'
        },
        g: {
          decorator: ['g', { rules: [{ required: true, message: '请选择开课时间' }] }],
          placeholder: '请选择开课时间',
          change: () => { }
        },
        h: {
          decorator: ['h', { rules: [{ required: true, message: '请选择结课时间' }] }],
          placeholder: '请选择结课时间',
          change: () => { }
        },
        i: {
          decorator: ['h', { rules: [{ required: true, message: '请输入课程有效期' }] }],
          placeholder: '请填写开课后(阿拉伯数字)周'
        },
        j: {
          decorator: ['j', { rules: [{ required: true, message: '请输入替换人数限制' }] }],
          placeholder: '请输入替换人数限制'
        },
        k: {
          decorator: ['k', { rules: [{ required: true, message: '请输入服务老师' }] }],
          placeholder: '请输入老师名称'
        },
        l: {
          decorator: ['l', { rules: [{ required: true, message: '请输入老师微信' }] }],
          placeholder: '请输入老师微信号'
        }
      },
      imageUrl: '',
      loading: false,
      showError: false,
      saveLoading: false
    }
  },
  methods: {
    beforeUpload() { },

    handleSave() {
      this.form.validateFields((err, values) => {
        if (!this.imageUrl) {
          this.showError = true
          return
        }
        if (!err && this.imageUrl) {
          console.log('Received values of form: ', values)
        }
      })
    }
  }
}
</script>

<style lang="scss">
.add-class {
  .ant-calendar-picker {
    width: 100%;
  }
  .qr-code {
    label {
      &::before {
        content: "*";
        margin-right: 4px;
        color: #f5222d;
        font-family: SimSun, sans-serif;
      }
    }
  }
  .has-error1 {
    margin-top: -20px;
    color: #f5222d;
    min-height: 22px;
    font-size: 14px;
    line-height: 1.5;
  }
  .add-teacher {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px dashed #1890ff;
    cursor: pointer;
    .anticon-plus {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
  .save-form {
    text-align: center;
  }
}
</style>
