<template>
  <div>
    <form-search
      :field-options="fieldOptions"
      @submit="handleSearch" />
    <a-button
      class="mt20"
      @click="handleAddClass"
      type="primary">
      添加开课
    </a-button>
    <a-table
      class="mt20"
      :row-key="record => record.id"
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <template slot="action" slot-scope="text, record">
        <a @click="handlePreview(record)" class="mr10">查看</a>
      </template>
    </a-table>
  </div>
</template>

<script>
import tableColumns from '@/lib/OpenClassManagement'

export default {
  data() {
    return {
      fieldOptions: [
        {
          type: 'select',
          label: '课程名称',
          decorator: ['translateStatus', { initialValue: '' }],
          options: []
        },
        {
          type: 'input',
          label: '期数',
          decorator: ['studentMobil', { initialValue: '' }]
        }
      ],
      tableLoading: false,
      tableColumns,
      tableData: [
        {
          id: 1
        }
      ],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      selectedRowKeys: []
    }
  },
  methods: {
    handleSearch() {},

    onSelectChange() {},

    handlePreview() {},

    handleTableChange(pagination) {
      this.pagination = { ...pagination }
    },

    handleAddClass() {
      this.$router.push('/trialClassManagement/addClass')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
