<template>
  <div class="header-container">
    <a-layout-header style="background: #fff; padding: 0">
      <div class="header">
        <a-icon class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="handleClick" />
        <a-breadcrumb class="breadcrumb">
          <a-breadcrumb-item v-if="!menuList[routeIndex].children.length">
            {{ menuList[routeIndex].name }}
          </a-breadcrumb-item>
          <a-breadcrumb-item v-else
            v-for="(item, index) in currentRoutes"
            :key="item.id">
            <span v-if="index === 0">{{ item.name }}</span>
            <a v-else
              @click="handleClickNav(item.router)">{{ item.name }}</a>
          </a-breadcrumb-item>
        </a-breadcrumb>
        <a-dropdown :trigger="['click']">
          <a class="ant-dropdown-link"
            @click="e => e.preventDefault()">
            admin
            <a-icon type="down" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item>
              <a @click="changePassword">修改密码</a>
            </a-menu-item>
            <a-menu-item>
              <a @click="logout">退出登陆</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </div>
    </a-layout-header>
    <a-modal title="修改密码"
      :visible="changePasswordVisible"
      :confirm-loading="confirmLoading"
      @cancel="handleCancel"
      @ok="handleResetPassword">
      <a-form :form="form"
        :labelCol="{ span: 5 }"
        :wrapperCol="{ span: 17 }">
        <a-form-item label="旧密码">
          <a-input-password v-decorator="passWordForm.oldPassword" />
        </a-form-item>
        <a-form-item label="新密码">
          <a-input-password v-decorator="passWordForm.newPassword" />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import menuList from '@/lib/mockMenu'

export default {
  props: {
    collapsed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      menuList,
      currentRoutes: [],
      routeIndex: 0,
      changePasswordVisible: false,
      form: this.$form.createForm(this),
      confirmLoading: false,
      passWordForm: {
        oldPassword: ['oldPassword', { rules: [{ required: true, message: '请输入旧密码' }] }],
        newPassword: ['newPassword', { rules: [{ required: true, message: '请输入新密码' }] }]
      }
    }
  },
  watch: {
    $route() {
      const currentPaths = this.$route.path.split('/')
      this.findCurrentRoutes(currentPaths[1], currentPaths[2])
    }
  },
  methods: {
    handleClick() {
      this.$emit('getCollapsed', !this.collapsed)
    },

    changePassword() {
      console.log('修改密码')
      this.changePasswordVisible = true
    },

    handleResetPassword() {
      this.changePasswordVisible = false
    },

    handleCancel() {
      this.changePasswordVisible = false
    },

    logout() {
      console.log('退出登录')
    },

    findCurrentRoutes(firstPath, secondPath) {
      this.currentRoutes = []
      for (let i = 0; i < this.menuList.length; i += 1) {
        if (this.menuList[i].router.split('/')[1] === firstPath) {
          this.routeIndex = i
          this.currentRoutes.push(this.menuList[i])
          const child = this.menuList[i].children.filter((item) => {
            return item.router.split('/')[2] === secondPath
          })
          this.currentRoutes.push(child[0])
          return
        }
      }
    },

    handleClickNav(path) {
      this.$router.push(path)
    }
  }
}
</script>

<style lang="scss" scoped>
.header-container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    .breadcrumb {
      flex-grow: 1;
      margin-left: 20px;
    }
  }
}
</style>
