<template>
  <div class="sider">
    <a-layout-sider v-model="collapsed"
      :trigger="null"
      collapsible>
      <div class="logo" />
      <a-menu theme="dark"
        mode="inline"
        :selectedKeys="selectedMenu"
        :openKeys="openKeys"
        @click="handleClickMenu">
        <template v-for="item in menuList">
          <a-menu-item v-if="!item.children.length"
            :key="item.router">
            <a-icon type="user" />
            <span>{{ item.name }}</span>
            <router-link :to="item.router" />
          </a-menu-item>
        </template>
        <template v-for="item in menuList">
          <a-sub-menu v-if="item.children.length"
            @titleClick="handleTitleClick"
            :key="item.router">
            <span slot="title">
              <a-icon type="mail" /><span>{{ item.name }}</span></span>
            <a-menu-item v-for="child in item.children"
              :key="child.router">
              {{ child.name }}
              <router-link :to="child.router" />
            </a-menu-item>
          </a-sub-menu>
        </template>
      </a-menu>
    </a-layout-sider>
  </div>
</template>

<script>
import menuList from '@/lib/mockMenu'

export default {
  props: {
    collapsed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      menuList,
      selectedMenu: [],
      openKeys: []
    }
  },
  watch: {
    $route() {
      const { path } = this.$route
      this.selectedMenu = [path]
      this.openKeys = [`/${path.split('/')[1]}`]
    }
  },
  methods: {
    handleClickMenu({ key }) {
      this.openKeys = [`/${key.split('/')[1]}`]
    },

    handleTitleClick({ key }) {
      if (key === this.openKeys[0]) {
        this.openKeys = []
        return
      }
      this.openKeys = [key]
    }
  }
}
</script>

<style lang="scss" scoped>
// #components-layout-demo-custom-trigger .trigger {
//   font-size: 18px;
//   line-height: 64px;
//   padding: 0 24px;
//   cursor: pointer;
//   transition: color 0.3s;
// }

// #components-layout-demo-custom-trigger .trigger:hover {
//   color: #1890ff;
// }

// #components-layout-demo-custom-trigger .logo {
//   height: 32px;
//   background: rgba(255, 255, 255, 0.2);
//   margin: 16px;
// }
.sider {
  background-color: #001529;
  .ant-layout-sider-children {
    height: 100vh;
    overflow: hidden;
  }
}
</style>
