<template>
  <div class="search-form-filed">
    <a-form :form="form"
      @submit="handleSubmit"
      class="form">
      <template v-for="(item, index) in fieldOptions">
        <a-form-item v-if="index < count && !item.hidden"
          :key="index"
          :label="item.label">
          <a-input v-if="item.type === 'input'"
            v-decorator="item.decorator"
            :allowClear="item.allowClear || true"
            :style="{width: `${item.width || width}px`}"
            :placeholder="item.placeholder  || '请输入'" />
          <a-select v-if="item.type === 'select'"
            v-decorator="item.decorator"
            :labelInValue="item.labelInValue || false"
            showSearch
            allowClear
            :placeholder="item.placeholder || '请选择'"
            :style="{width: `${item.width || width}px`}"
            @change="item.change"
            :filterOption="item.filterOption || filterOption">
            <a-select-option v-for="option in item.selectOptions"
              :key="option.value"
              :value="option.value">
              {{ option.text }}
            </a-select-option>
          </a-select>
          <a-range-picker :getCalendarContainer="() => rootContainer"
            :style="{width: `${item.width || width}px`}"
            v-if="item.type === 'range-picker'"
            v-decorator="item.decorator"
            @change="item.change"
            :allowClear="false" />
          <a-date-picker :getCalendarContainer="() => rootContainer"
            :style="{width: `${item.width || width}px`}"
            v-if="item.type === 'date-picker'"
            v-decorator="item.decorator"
            :placeholder="item.placeholder || '请选择'"
            @change="item.change"
            :allowClear="false" />
        </a-form-item>
      </template>
      <a-form-item>
        <a-button type="primary"
          html-type="submit">搜索</a-button>
        <a-button @click="handleReset">重置</a-button>
        <a v-if="fieldOptions.length > 2"
          :style="{ marginLeft: '8px', fontSize: '12px' }"
          @click="handleToggle">
          {{ folding ? '收起': '展开' }}
          <a-icon :type="folding ? 'up' : 'down'" />
        </a>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  props: {
    fieldOptions: {
      type: Array,
      default: () => []
    },
    width: {
      type: Number,
      default: 200
    }
  },
  data() {
    return {
      form: this.$form.createForm(this),
      folding: false
    }
  },
  computed: {
    count() {
      return this.folding ? 100 : 2
    },
    rootContainer() {
      return document.querySelector('#app')
    }
  },
  methods: {
    handleSubmit() {
      this.form.validateFields((err, values) => {
        if (!err) {
          this.$emit('submit', values)
        }
      })
    },

    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      )
    },

    handleToggle() {
      this.folding = !this.folding
    },

    handleReset() {
      this.form.resetFields()
    }
  }
}
</script>

<style lang="scss" scoped>
.search-form-filed {
  .form {
    padding: 10px 24px 10px;
    border: 1px solid #efefef;
    border-radius: 6px;
  }
  .ant-advanced-search-form .ant-form-item {
    margin-bottom: 20px;
  }
  .ant-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .ant-form-item {
      padding-bottom: 0px;
      margin-right: 20px;
      margin-bottom: 10px;
      &:last-child {
        padding-top: 38px;
      }
    }
    .ant-btn {
      margin-right: 15px;
    }
    .next-line {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
</style>
