<template>
  <div>
    <span class="label">{{ label }}</span>
    <span class="text">{{ text }}</span>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.label, .text {
  height: 40px;
  line-height: 40px;
}
.label {
  color: #999;
  &::after {
    content: "：";
  }
}
</style>
