<template>
  <a-modal :visible="visible"
    :zIndex="1001"
    class="preview-box"
    :footer="null"
    :getContainer="() => rootContainer"
    @cancel="handleCancel">
    <div class="mt20">
      <img :src="imageList.length ? imageList[current] : ''" style="width: 100%;">
    </div>
    <div class="left" v-if="current !== 0" @click="current -= 1"></div>
    <div class="right" v-if="current !== imageList.length - 1" @click="current += 1"></div>
  </a-modal>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    imageList: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      current: 0
    }
  },
  computed: {
    rootContainer() {
      return document.querySelector('#app')
    }
  },
  methods: {
    handleCancel() {
      this.$emit('closePerviewImg')
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-box {
  position: relative;
  .left {
    position: absolute;
    top: calc(50% - 20px);
    left: 40px;
    width: 40px;
    height: 40px;
    background-image: url("../assets/img/left.png");
    background-size: cover;
    cursor: pointer;
  }
  .right {
    position: absolute;
    top: calc(50% - 20px);
    right: 40px;
    width: 40px;
    height: 40px;
    background-image: url("../assets/img/right.png");
    background-size: cover;
    cursor: pointer;
  }
}
</style>
