<template>
  <span class="text status-text"
        :class="statusMap">
    <slot></slot>
  </span>
</template>

<script>
const defautlMap = {
  'init-status': ['init'], // 灰色
  'normal-status': ['normal'], // 蓝色
  'warning-status': ['waring'], // 橙色
  'success-status': ['success'], // 绿色
  'error-status': ['error'] // 红色
}

export default {
  props: {
    // 状态值
    status: {
      type: [String, Number],
      default: ''
    },
    // 映射表
    mapList: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
    }
  },
  computed: {
    // 转换不同的状态
    /**
     * init
     * normal
     * warning
     * error
     * suceess
     */
    statusMap() {
      for (const [key, value] of Object.entries(this.vmapList)) {
        if (value.indexOf(this.status) > -1) {
          return key
        }
      }
      return ''
    },
    vmapList() {
      return Object.assign(defautlMap, this.mapList)
    }
  }
}
</script>
<style lang="scss" scoped>
.status-text {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
  }
}

.success-status::before {
  background-color: $success !important;
}

.warning-status::before {
  background-color: $warning !important;
}

.error-status::before {
  background-color: $error !important;
}

.init-status::before {
  background-color: $init !important;
}

.normal-status::before {
  background-color: $normal !important;
}
</style>
