<template>
  <div>
    <form-search
      :field-options="fieldOptions"
      @submit="handleSearch" />
    <a-button type="primary" class="mt20" @click="giveCourse(0, true)">赠送免费课程</a-button>
    <a-table
      class="mt20"
      :row-key="record => record.id"
      :loading="tableLoading"
      :columns="tableColumns"
      :data-source="tableData"
      :pagination="pagination"
      @change="handleTableChange">
      <template slot="create_time" slot-scope="text">
        {{ $moment(text * 1000).format('YYYY-MM-DD hh:mm') }}
      </template>
      <template slot="learn_practise" slot-scope="text">
        {{ `${text.split('/')[0] === '0' ? '否' : '是'} / ${text.split('/')[1] === '0' ? '否' : '是'}` }}
      </template>
      <template slot="is_free_course" slot-scope="text">
        {{ text ? '是' : '否' }}
      </template>
      <template slot="transform_type" slot-scope="text">
        <status-text
          :mapList="mapList"
          :status="text">
          {{ text ? (text === 1 ? '已转化' : '2次转化') : '未转化' }}
        </status-text>
      </template>
      <template slot="action" slot-scope="text, record">
        <!-- <a @click="handlePreview(record)" class="mr10">查看</a> -->
        <a-dropdown>
          <a class="ant-dropdown-link">
            更多<a-icon type="down" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item>
              <a href="javascript:;" @click="giveCourse(record, false)">赠送免费课程</a>
            </a-menu-item>
            <a-menu-item>
              <a href="javascript:;" @click="handleRemoveUser(record.id)">注销账户</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </template>
    </a-table>
    <free-lessons-modal
      v-if="freeLessonsVisible"
      :visible="freeLessonsVisible"
      :showPhone="showPhone"
      :courses="courses"
      :currentStage="currentStage"
      :currentUserId="currentUserId"
      @closeModal="closeModal" />
  </div>
</template>

<script>
import { tableColumns, fieldOptions } from '@/lib/AdvisorStuManagement'
import freeLessonsModal from './components/freeLessonsModal'
import { getStudentList, deleteUser, getCourse } from '@/service/advisorStuManagement'
import statusText from '@/components/statusText'
import SHA1 from 'sha1'

export default {
  components: {
    freeLessonsModal,
    statusText
  },
  data() {
    return {
      freeLessonsVisible: false,
      tableLoading: false,
      tableColumns,
      fieldOptions,
      tableData: [],
      pagination: {
        size: 'small',
        showQuickJumper: true,
        showSizeChanger: true,
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: total => `共 ${total} 条`
      },
      formSearch: {},
      mapList: {
        'success-status': [1],
        'error-status': [0],
        'normal-status': [2]
      },
      showPhone: '',
      courses: [],
      currentUserId: 0,
      currentStage: ''
    }
  },
  created() {
    this.getStudentList()
  },
  methods: {
    handleSearch(val) {
      this.formSearch = val
      this.pagination.current = 1
      this.getStudentList()
    },

    handlePreview() {},

    handleTableChange(pagination) {
      this.pagination = { ...pagination }
      this.getStudentList()
    },

    closeModal() {
      this.freeLessonsVisible = false
    },

    giveCourse(row, showPhone) {
      this.showPhone = showPhone
      this.freeLessonsVisible = true
      this.currentUserId = row.id
      this.currentStage = row.true_stage
      row.id ? this.getCourse(row.id) : this.getCourse()
    },

    handleRemoveUser() {
      this.$confirm({
        title: '账户注销提醒',
        content: '确认为该用户注销账户？注销后该用户重新登录即注册新用户，确定继续执行次操作？',
        onOk: () => {
          this.deleteUser()
        }
      })
    },

    async getCourse(userId) {
      const params = {
        user_id: userId
      }
      const { data } = await getCourse(params)
      const course = data.course_.split(',')
      const user = data.user_.split(',')
      if (!user.length) {
        this.courses = course
      } else {
        user.forEach(item => {
          if (course.indexOf(item) >= 0) {
            course.splice(course.indexOf(item), 1)
          }
        })
        this.courses = course
      }
    },

    async deleteUser(userId) {
      const params = {
        user_id: SHA1(`${userId}magicM@!`)
      }
      try {
        await deleteUser(params)
        this.$message.success('账号注销成功')
        this.getStudentList()
      } catch (error) {
        this.$message.error(error.message || '请求错误')
      }
    },

    async getStudentList() {
      this.tableLoading = true
      const params = {
        type: 3, // 0:体验课 1:vip 2:暂定 3:课程顾问
        page: this.pagination.current,
        page_size: this.pagination.pageSize,
        info: this.$jsonTransform(this.formSearch)
      }
      if (params.info.create_time) {
        params.info.create_time = parseInt(this.$moment(params.info.create_time).format('X'))
      }
      try {
        const { data } = await getStudentList(params)
        const { count, info_list } = data
        this.$formatList(info_list)
        this.tableData = info_list
        this.pagination.total = count
        this.tableLoading = false
      } catch (error) {
        this.tableLoading = false
        throw error
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
