<template>
  <a-modal
    :title="title"
    :visible="studyDetailVisble"
    :footer="null"
    @cancel="handleCancel">
    <p>本课共100能量</p>
    <div v-for="(item, index) in detailList" :key="index" class="mb20">
      <p class="detial-title">{{ item.title }}</p>
      <p>{{ item.count }}</p>
    </div>
  </a-modal>
</template>

<script>
export default {
  props: {
    studyDetailVisble: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '当课学习详情'
    }
  },
  data() {
    return {
      detailList: [
        {
          title: '获得非常优秀（xx能量 —— xx能量）',
          count: '40人'
        },
        {
          title: '获得非常优秀（xx能量 —— xx能量）',
          count: '40人'
        },
        {
          title: '获得非常优秀（xx能量 —— xx能量）',
          count: '40人'
        },
        {
          title: '获得非常优秀（xx能量 —— xx能量）',
          count: '40人'
        }
      ]
    }
  },
  methods: {
    handleCancel() {
      this.$emit('closeModal')
    }
  }
}
</script>

<style lang="scss" scoped>
.detial-title {
  color: #999;
  margin-bottom: 5px;
}
</style>
