<template>
  <a-layout class="box">
    <sider :collapsed="collapsed" />
    <a-layout>
      <hearder :collapsed="collapsed"
        @getCollapsed="getCollapsed" />
      <a-layout-content class="main-container">
        <router-view />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import hearder from './components/header'
import sider from './components/sider'

export default {
  components: {
    hearder,
    sider
  },
  data() {
    return {
      collapsed: false
    }
  },
  methods: {
    getCollapsed(val) {
      this.collapsed = val
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  height: 100vh;
  .main-container {
    margin: 15px;
    background: #fff;
    border-radius: 5px;
    padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
</style>
