<template>
  <a-config-provider :locale="locale">
    <div id="app">
      <home />
    </div>
  </a-config-provider>

</template>

<script>
import Home from './views/Home/index.vue'
import zhCN from 'ant-design-vue/lib/locale-provider/zh_CN'

export default {
  components: {
    Home
  },
  data() {
    return {
      locale: zhCN
    }
  }
}
</script>

<style lang="scss">
#app {
  height: 100%;
}
</style>
