<template>
  <a-modal :title="title"
    :visible="visible"
    @ok="handleOk"
    @cancel="handleCancel">
    <p v-if="showPhone">
      <span>学员手机号：</span>
      <a-input v-model="stuPhone"
        class="student-phone"></a-input>
    </p>
    <p class="tip">
      <span v-if="!showPhone">该用户为“{{ currentStage }}”用户，</span>
      您可以赠送以下课程
    </p>
    <a-radio-group v-model="freeClass">
      <a-radio v-for="(item, index) in courseList"
        :key="item"
        :value="item">
        课程{{ index + 1 }}
      </a-radio>
    </a-radio-group>
  </a-modal>
</template>

<script>
import { getFreeCourse, getUserInfo, createUser } from '@/service/advisorStuManagement'

export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: '添加学员-赠送免费课程'
    },
    showPhone: {
      type: Boolean,
      default: false
    },
    courses: {
      type: Array,
      default: () => []
    },
    currentUserId: Number,
    currentStage: String
  },
  data() {
    return {
      freeClass: '',
      stuPhone: '',
      hasAccount: false,
      userId: ''
    }
  },
  computed: {
    courseList() {
      return this.courses
    }
  },
  methods: {
    handleCancel() {
      this.$emit('closeModal')
    },

    handleOk() {
      if (this.freeClass === '') {
        this.$message.error('请选择赠送课程')
        return
      }
      if (!this.showPhone) { return this.getFreeCourse() }
      this.getUserInfo()
        .then(() => {
          this.$confirm({
            title: '该手机号已有账户',
            content: '是否继续为该用户赠送免费课程',
            onOk: () => {
              this.getFreeCourse()
            }
          })
        })
        .catch(() => {
          this.$confirm({
            title: '赠送课程提醒',
            content: '确认为该用户创建账号且赠送免费课程吗？',
            onOk: () => {
              this.createUser()
            }
          })
        })
    },

    async getUserInfo() {
      const params = {
        phone: this.stuPhone
      }
      const { data } = await getUserInfo(params)
      this.userId = data
    },

    async createUser() {
      const params = {
        phone: this.stuPhone
      }
      const { data } = await createUser(params)
      this.userId = data
      await this.getFreeCourse('createUser')
    },

    async getFreeCourse(flag) {
      const params = {
        user_id: this.currentUserId || this.userId,
        worlds_id: this.freeClass
      }
      await getFreeCourse(params)
      this.$message.success(flag === 'createUser' ? '账号开通成功，且已赠送免费课程' : '已赠送免费课程')
      this.$emit('closeModal')
    }
  }
}
</script>

<style lang="scss" scoped>
.student-phone {
  width: 200px;
}
.tip {
  color: #999;
}
</style>
